.myprojects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 88px;
    margin: 80px 170px;
}

.myproject-title{
    position: relative;
}

.myproject-title h2{
    padding: 0px 30px;
    font-size: 60px;
}

.myproject-title img{
    position: absolute;
    bottom: -90px;
    right: 2;
    z-index: -1;
}
.projects-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding: 60px;
    transform: 0.4s;
    cursor: pointer;
}

.project-card{
    border: 2px solid white;
    border-radius: 10px;
}

.project-content{
    padding: 60px;
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
   
}

.project-content img{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 400px;
}

.project-content h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-content p{
    margin-left: 10px;
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
}

.github-icon{
    color: #DF8908;
    width: 40px;
    height: 40px;
  }
.project-card:hover{
    border: 2px solid #ff00ff;
    transform: scale(1.05);
    transition: 0.4s;
}

.project-showmore{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto 80px auto;
    border-radius: 50px;
    border: 2px solid #ffffff;
    padding: 30px 60px;
    margin-bottom: 80px;
    cursor: pointer;
}

.project-showmore p{
    align-items: center;
    font-size: 22px;
    font-weight: 500;

}
.project-showmore:hover{
    gap: 30px;
    transform: scale(1.05);
    transition: 0.5s;
}