.About {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 80px;
    margin: 30px 10%; /* Use percentages for better responsiveness */
}

.about-title {
    position: relative;
    padding: 0px 30px;
    margin-bottom: 20px;
    font-size: 30px;
}


.about-title p {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    line-height: 40px;
    font-size: 22px;
    /* margin-bottom: 10px; */
}

.about-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusts columns dynamically */
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.progressbar-container {
    width: 100%; /* Make width responsive */
    max-width: 180px; /* Prevent it from getting too big */
    height: auto; /* Allow flexibility */
    font-weight: 600;
    color: white;
    padding: 1px 20px; /* Adjust padding for smaller screens */
    text-align: center; /* Center align text */
}



@media (max-width: 768px) {
    .About {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1{
        font-size: 50px; /* Decrease font size for readability */
    
    }

    .progressbar-container {
        max-width: 120px; /* Shrinks skills on smaller screens */
    }

    .about-title p{
        font-size: 16px;
        line-height: 30px;
        
    }


    .about-skills {
        grid-template-columns: repeat(2, 1fr); /* Switch to two columns */
    }

    .progressbar-container .CircularProgressbar-text {
        font-size: 12px !important; /* Adjust the font size */
      }
}


