.About {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 30px 170px;
}

.about-title {
    position: relative;
    padding: 0px 30px;
    font-size: 30px;
    gap: 20px;
}


.about-title img {
    position: relative;
    bottom: 45px;
    right: 2;
    z-index: -1;
}


.about-title p{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: 22px;
    margin-bottom: 10px;
}

.about-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    column-gap: 25px;
    row-gap: 60px; /* Space between items */
    justify-content: center; /* Center items */
    align-items: center;
}



.progressbar-container{
    width: 180px;
    height: 180px;
    font-weight: 600;
    color: white;
    padding: 1px 35px;
}
