.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-logo {
    width: 80px; 
    height: 80px;  
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.96%);
    font-size: 22px;
    cursor: pointer;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    gap: 5px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.nav-menu li p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.96%);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}
.nav-menu li p:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.anchor-link{
    text-decoration: none;
    color: white;
}